{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="container text-center">
			<div class="jumbotron mt-5">
				<h1>{{ controller_name }}!</h1>
				<p class="lead">
					Bienvenue sur la page de contact
				</p>

				<p> Site en construction </p>

	        </div>
        </div>
    </div>
    

{% endblock %}
