<nav class="navbar navbar-expand-lg navbar-light bg-dark">
	<a class="navbar-brand text-light font-weight-bold" href="{{ path('home') }}">Click'N'Buy</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('shop') }}">La boutique
				</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			{# <input class="form-control mr-sm-2 border-none" type="search" placeholder="Search" aria-label="Search"> #}
			<button class="btn border-none my-2 my-sm-0" type="submit"><i class="fas fa-search fa-lg text-light"></i></button>
			<a href="{{ path('cart') }}" class="btn border-none my-2 my-sm-0" type="submit"><i class="fas fa-shopping-bag fa-lg text-light"></i></a>

		</form>

	</div>
</nav>
