{% extends 'base.html.twig' %}

{% block title %}
	{{ controller_name }}
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="container text-center">
			<div class="jumbotron mt-5">
				<h1>{{ controller_name }}!</h1>
			</div>
		</div>
	</div>

{% endblock %}
